
<div >
    <img (click)="startFabrication()" class="logo_produit" [attr.src]="server+product.logo" /> 
    <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
    <p><span id="productname">{{product.name}} </span>
    <br>
    <span id="productcost">{{product.cout}}£ </span>
    <div class="button-buy">
        <button id="productcost" mat-raised-button color="primary">Acheter {{qtMultiDisplay()}} produits: {{numberTransformer.transform(totalCost)}} £</button>
    </div>
    
    <span id="nbmaxcanbuy" [innerHtml]=""></span>
</div>
