.logo_produit{
    margin-top: 50px;
    width: 60px;
    height: 60px;
    
}
.progressbar{
    height:20px;
    width: 100px;
    bottom: 35px;
    left: 65px;
}
.lesdeux{
    position:relative;
    margin-bottom: -20px;
}
.lesecond{
    position: absolute;
    bottom: 20px;
    left: -10px;
}

