
.main{
    display:grid;
    grid-template-columns:20%80%;
}
.product{
    display:grid;
    grid-template-columns:1fr1fr;
}
.logo_monde{
    width: 30px;
    height: 30px;
}
.example-spacer {
    flex: 1 1 auto;
  }