<div class="header">

  <mat-toolbar color="primary">
    <div><span id="worldname">{{world.name}} </span> </div>
    <div> <img class="logo_monde" [attr.src]="server+world.logo" /> </div>
    <span class="example-spacer"></span>

    <div>
      <span id="worldmoney" [innerHTML]="world.money | bigvalue">{{world.money}} </span>£
    </div>
    <span class="example-spacer"></span>
    <div> multiplicateur </div>
    <span class="example-spacer"></span>
    <div> Id du joueur </div>
  </mat-toolbar>


</div>

<div class="main">
  <div>liste des boutons de menu </div>
  <div class="product">
    <div>
      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[0]"
        class="product col-md-6"></app-product>
    </div>
    <div>
      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[1]"
        class="product col-md-6"></app-product>
    </div>
  </div>

  <div class="button-commutateur">
    <button mat-raised-button (click)="changeCommutateur()" color="primary">{{qtmulti}}</button>
  </div>
</div>