<div class="header">

  <mat-toolbar color="primary">
    <div><span id="worldname">{{world.name}} </span> </div>
    <div> <img class="logo_monde" [attr.src]="server+world.logo" /> </div>
    <span class="example-spacer"></span>

    <div>
      <span id="worldmoney" [innerHTML]="world.money | bigvalue">{{world.money}} </span>£
    </div>
    <span class="example-spacer"></span>
    <div> multiplicateur </div>
    <span class="example-spacer"></span>
    <div><input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/> </div>
  </mat-toolbar>


</div>

<div class="main">
  <div>
    <button (click)="changeShowManagers()" [matBadge]="badgeManagers" [matBadgeHidden]="badgeManagers==0" class="managersButton" mat-raised-button color="accent">Managers</button>
  </div>
  <div class="product">
    <div>
      <app-product *ngIf="world.products.product.length > 0" (notifyAchat)="onBuy($event)"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money"
        [prod]="world.products.product[0]" class="product col-md-6"></app-product>
    </div>
    <div>
      <app-product *ngIf="world.products.product.length > 0" (notifyAchat)="onBuy($event)"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money"
        [prod]="world.products.product[1]" class="product col-md-6"></app-product>
    </div>
  </div>

  <div class="button-commutateur">
    <button mat-raised-button (click)="changeCommutateur()" color="primary">{{qtmulti}}</button>
  </div>
</div>




<div *ngIf="showManagers" class="modal">
  <div>
    <h1 class="title">Managers make you feel better !</h1>
  </div>
  <div>
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
        <div>
          <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
        </div>
        <div>

          <div class="managername"> {{ manager.name}} </div>
          <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
          <div class="managercost"> {{ manager.seuil}} </div>
        </div>
        <div>
          <button mat-raised-button class="hirebutton" color="accent" (click)="hireManager(manager)"
            [disabled]="!(world.money >= manager.seuil)">Hire !</button>
        </div>
      </div>
    </div>
    <button class="closebutton" mat-raised- button color="primary" (click)="showManagers = !showManagers">Close</button>
  </div>
</div>