<div class="header">
  <mat-toolbar color="primary">
    <div><img class="logo_monde" [attr.src]="server + world.logo" /></div>
    <span class="example-spacer"></span>

    <div>
      <span id="worldmoney" [innerHTML]="world.money | bigvalue"
        >{{ world.money }} </span
      >£
    </div>
    <span class="example-spacer"></span>
    <div>
      <input
        type="text"
        [(ngModel)]="username"
        (change)="onUsernameChanged()"
        size="9"
      />
    </div>
  </mat-toolbar>
</div>
<div class="upgrades">
  <button
    (click)="changeShowManagers()"
    [matBadge]="badgeManagers"
    [matBadgeHidden]="badgeManagers == 0"
    class="managersButton"
    mat-raised-button
    color="accent"
  >
    Managers
  </button>
  <span class="example-spacer"></span>
  <button
    (click)="changeShowUnlocks()"
    class="managersButton"
    mat-raised-button
    color="accent"
  >
    Unlocks
  </button>
  <span class="example-spacer"></span>
  <button
    (click)="changeShowCashUpgrades()"
    [matBadge]="badgeCashUpgrades"
    [matBadgeHidden]="badgeCashUpgrades == 0"
    class="managersButton"
    mat-raised-button
    color="accent"
  >
    Cash Upgrades
  </button>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="changeCommutateur()" color="primary">
    {{ qtmulti }}
  </button>
</div>

<div class="main">
  <div class="product" *ngFor="let product of this.world.products.product">
    <app-product
      *ngIf="world.products.product.length > 0"
      (notifyAchat)="onBuy($event)"
      (notifyProduction)="onProductionDone($event)"
      [qtmulti]="qtmulti"
      [money]="world.money"
      [prod]="product"
      class="product col-md-6"
    ></app-product>
  </div>

  <div *ngIf="showManagers" class="modal">
    <div>
      <h1 class="title">Managers make you feel better !</h1>
    </div>
    <div>
      <div *ngFor="let manager of world.managers.pallier">
        <div *ngIf="!manager.unlocked" class="pallierlayout">
          <div class="cadre">
            <div class="logo">
              <img class="img-pallier" [attr.src]="server + manager.logo" />
            </div>
            <div class="pallier">
              <div class="nomPrix">
                <span>{{ manager.name }}</span>
                <span>{{ manager.seuil }}£</span>
              </div>
              <div class="nomBouton">
                <span class="palliercible">
                  {{ world.products.product[manager.idcible - 1].name }}
                </span>
                <span
                  ><button
                    mat-raised-button
                    class="hirebutton"
                    color="accent"
                    (click)="hireManager(manager)"
                    [disabled]="!(world.money >= manager.seuil)"
                  >
                    Hire !
                  </button></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-center">
        <button
          mat-raised-button
          class="closebutton"
          color="primary"
          (click)="showManagers = !showManagers"
        >
          Close
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showUnlocks" class="modal">
    <div>
      <h1 class="title">Unlocks make your life easier !</h1>
    </div>
    <div>
      <div *ngFor="let produit of world.products.product">
        <div *ngFor="let unlock of produit.palliers.pallier">
          <div class="pallierlayout">
            <div class="cadre">
              <div class="logo">
                <img class="img-pallier" [attr.src]="server + unlock.logo" />
              </div>
              <div class="pallier">
                <div class="nomPrix">
                  <span>{{ unlock.name }}</span>
                  <span>{{ unlock.seuil }}</span>
                </div>
                <div class="nomBouton">
                  <span class="palliercible">
                    {{ world.products.product[unlock.idcible - 1].name }}
                    {{ unlock.typeratio }} x{{ unlock.ratio }}
                  </span>
                  <span>
                    <mat-icon
                      [ngClass]="unlock.unlocked ? 'unlocked' : 'not-unlocked'"
                      >check_circle</mat-icon
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let allunlock of this.world.allunlocks.pallier">
        <div class="cadre">
          <div class="logo">
            <img class="img-pallier" [attr.src]="server + allunlock.logo" />
          </div>
          <div class="pallier">
            <div class="nomPrix">
              <span>{{ allunlock.name }}</span>
              <span>{{ allunlock.seuil }}</span>
            </div>
            <div class="nomBouton">
              <span class="palliercible">
                {{ allunlock.typeratio }} x{{ allunlock.ratio }}
              </span>
              <span>
                <mat-icon
                  [ngClass]="allunlock.unlocked ? 'unlocked' : 'not-unlocked'"
                  >check_circle</mat-icon
                ></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="button-center">
        <button
          mat-raised-button
          class="closebutton"
          color="primary"
          (click)="showUnlocks = !showUnlocks"
        >
          Close
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showCashUpgrades" class="modal">
    <div>
      <h1 class="title">Cash Upgrades make you feel better !</h1>
    </div>
    <div>
      <div *ngFor="let upgrade of world.upgrades.pallier">
        <div *ngIf="!upgrade.unlocked" class="pallierlayout">
          <div class="cadre">
            <div class="logo">
              <img class="img-pallier" [attr.src]="server + upgrade.logo" />
            </div>
            <div class="pallier">
              <div class="nomPrix">
                <span>{{ upgrade.name }}</span>
                <span>{{ upgrade.seuil }}£</span>
              </div>
              <div class="nomBouton">
                <span class="palliercible">
                  {{ world.products.product[upgrade.idcible - 1].name }}
                  {{ upgrade.typeratio }} x{{ upgrade.ratio }}
                </span>
                <span
                  ><button
                    mat-raised-button
                    class="hirebutton"
                    color="accent"
                    (click)="getUpgrade(upgrade)"
                    (click)="buyUpgrade(upgrade)"
                    [disabled]="!(world.money >= upgrade.seuil)"
                  >
                    Get !
                  </button></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-center">
        <button
          mat-raised-button
          class="closebutton"
          color="primary"
          (click)="showCashUpgrades = !showCashUpgrades"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
