.main {
  display: flexbox;
  margin-top: 20px;
  margin-left: 20px;
}
.product {
  display: inline-table;
  margin-left: 40px;
}
.logo_monde {
  width: 50px;
  height: 50px;
}
.round {
  width: 100px;
  height: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}
.upgrades {
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 60%; /* largeur */
  height: 70%; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: #e5e5e5; /* opaque */
  border: 3px solid #d3a625;
  top: 20%; /* a 10% du haut */
  left: 20%; /* a 20% de la gauche */
}
.modal-investors {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 60%; /* largeur */
  height: 70%; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: #740001; /* opaque */
  border: 3px solid #d3a625;
  top: 20%; /* a 10% du haut */
  left: 20%; /* a 20% de la gauche */
  color: #ffffff;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
input[type="text"],
textarea {
  background-color: #ffffff;
  font-size: large;
  text-align: center;
  border: 3px solid #d3a625;
}
button:disabled {
  background-color: #c0c0c0 !important;
  color: #ffffff !important;
}
.title {
  text-align: center;
  color: #d3a625;
}
.pallier {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
  background-color: #740001;
  color: #f0f0f0;
}
.nomPrix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  margin-top: 3px;
  margin-bottom: 12px;
}
.palliercible {
  font-size: 10px;
}
.cadre {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 60px;
  border: 1px solid #000;
  flex-shrink: 0;
  margin: 20px;
  background-color: white;
}
.cadre-investors {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 120px;
  border: 1px solid #000;
  flex-shrink: 0;
  margin: 20px;
  background-color: #740001;
  color: #ffffff;
}
.logo {
  height: 100%;
  width: 20%;
  object-fit: contain;
}
.button-center {
  text-align: center;
}
.managersButton {
  width: 130px !important;
}
.hirebutton {
  font-size: small;
  width: 10%;
  height: 30px;
  text-align: center;
}
.img-pallier {
  width: 100%;
  height: 100%;
}
.nomBouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 10px;
}
.not-unlocked {
  color: gray;
}

.unlocked {
  color: green;
}
.img-investor {
  height: 30px;
  width: 30px;
}
.text-investors {
  margin-left: 10%;
}
.gras {
  color: #d3a625;
}
.text-bouton {
  display: flex;
  margin-top: 10%;
}
.bouton-reset {
  margin-top: 9%;
  margin-left: 12%;
}
.button-investors {
  text-align: center;
  margin-top: 13%;
}
