.logo_produit {
  margin-top: 50px;
  width: 70px;
  height: 70px;
}
.progressbar {
  height: 20px;
  width: 120px;
  bottom: 35px;
  left: 74px;
}
.lesdeux {
  position: relative;
  margin-bottom: -20px;
}
.lesecond {
  position: absolute;
  bottom: 10px;
  left: -15px;
}
button:disabled {
  background-color: #c0c0c0 !important;
  color: #ffffff !important;
}
.small-chip {
  font-size: small;
}
